@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Lobster&display=swap');

#cont1{
    margin-top: 10em;
    display: block;
    width: 900px;
    height: 500px;
    border: ridge 20px crimson;
    border-radius:25px;
    background-image: url(https://image.freepik.com/vector-gratis/fondo-navideno-diseno-plano_23-2148671468.jpg);
    background-size: cover;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.16), 10px 10px 5px rgba(0,0,0,0.23);
    --animate-duration: 5s
}
h2{
    color:white;
    font-family: 'Gwendolyn', cursive;
    font-size: 4em;
}
.cCard{
    display: inline-flex;
    align-items: baseline; 
}
.cFeli{
    height:100%;
    width: 100%;
}
.name{
    background-color: transparent;
    color:white;
    font-family: 'Gwendolyn', cursive;
    font-size: 3em;
    border:none;
    width: auto;
    font-style: strong;
}
.name:hover{
    border: ridge 2px crimson;
}
textarea{
    background-color: transparent;
    color:white;
    font-family: 'Gwendolyn', cursive;
    font-size: 3em;
    border:none;
    width: 100%;
    resize: none;
    overflow:hidden;
    height: auto;
    outline: none;
}
#textarea:hover{
    border: ridge 2px crimson;
}
#first{
    --animate-duration: 5s;
    margin-right: 10px;
}
#third{
    --animate-duration: 5s;
}
